<h1>Races</h1>
<table>
  <tr>
    <th>Name</th>
    <th>Region</th>

  </tr>
<% @races.each do |race| %>

  <tr>
    <td><a href="/races/<%= race.id%>"><%=race.name%></a></td>
    <td><a href="/regions/<%= race.region_id%>"><%= race.region.name%></a></td>

  </tr>
<% end %>
</table>

<p><%= link_to 'Home', root_path%></p>
