<h1>Elder Scrolls Characters</h1>
<table>
  <tr>
    <th>Name</th>
    <th>Race</th>
    <th>City</th>
    <th>Class</th>
  </tr>
<% @es_characters.each do |es_character| %>
  <tr>
    <td><a href="/characters/<%= es_character.id%>"><%= es_character.name%></td>
    <td><%= es_character.race.name%></td>
    <td><%= es_character.city.name%></td>
    <td><%= es_character.character_class.name%></td>
  </tr>
<% end %>
</table>
