<h1><%= @es_character.name%></h1>
    <h2>Race: <%= @es_character.race.name%></h2>
    <h2>Current City: <%= @es_character.city.name%></h2>
    <h2>Class: <%= @es_character.character_class.name%></h2>
<p><%= link_to 'home', root_path%></p>
