<h1>Cities</h1>
<table>
  <tr>
    <th>Name</th>
    <th>Region</th>

  </tr>
<% @cities.each do |city| %>
  <tr>
        <td><a href="/races/<%= city.id%>"><%=city.name%></a></td>
    <td><a href="/regions/<%= city.region_id%>"><%= city.region.name%></a></td>

  </tr>
<% end %>
</table>
<p><%= link_to 'Home', root_path%></p>
